/* General Styling*/

body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
.first-black-font-banner {
  /* background-color: black; */

  background-image: url(../images/home/hero_iphone14pro_spring__9xo85pm6sbmm_small.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 65px 20px; */
  color: white;
  
}


.linked-text ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

.linked-text ul li{
  list-style-type: none;
}
.second-iphones-collection-banner {
  background-image: url(../images/home/hero_iphone14_small.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 20px;
  color: black;
}
.first-left-white-two-banner {
  background-image: url(../images/home/iphone_tradein_promo__d5au3rkw5kuq_small.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 20px;
  color: black;
}
.first-right-black-banner {
  background-image: url(../images/home/promo_wwdc23_swift__b3fev54l3bci_small.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 20px;
  color: black;
}

.padding-bo {
  padding-top: 350px;
}
.left-colorfull-watch-part {
  background-image: url(../images/home/promo_pride23__cnpic94fthle_small.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.right-colorfull-watch-part {
  background-image: url(../images/home/promo_ipadpro__ch217v9v7no2_small.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}
.left-women-black-bg {
  background-image: url(../images/home/privacy__fzwalkil8paq_small.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}
.right-card-daily-cash {
  background-image: url(../images/home/card-tile__cauwwcyyn9hy_small.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}

@media (min-width: 1070px) {
  .first-iphone14pro-img-swap {
    background-image: url(../images/home/swap-hero_iphone14pro_spring__9xo85pm6sbmm_large.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
  }
}
.final-girl-with-appcard{
  padding-left: 0;
}